@import '_variable.scss';

.article-container {
    padding: 50px 0 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @include media(720px) {
        & {
            padding: 0;
        }
    }

    .article {
        flex: 1;

        .header {
            padding: 25px;
            background-color: darken($theme-color, 5%);
            min-height: 120px;
            position: relative;

            .star {
                background-color: transparent;
                position: absolute;
                right: 12px;
                top: 8px;
                z-index: 5;
                cursor: pointer;
                font-size: 24px;

                &:hover {
                    > i {
                        color: #ddd;
                    }
                }

                > i {
                    color: #fff;
                }
            }

            .title {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
                font-weight: normal;
                margin-top: 10px;
                color: #fff;
                background-color: transparent;
                text-align: left;
                margin: 4px 0 12px;
                padding-top: 0;
                font-size: 20px;
            }

            .info {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.75);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                span {
                    margin: 0 10px;
                }

                .avatar {
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                    box-shadow: 0 2px 3px #ccc;
                    background-color: #fff;
                }
            }
        }
        // 内容
        .content {
            padding: 30px;
            line-height: 1.75;
            min-height: 200px;
            transition: all .3s ease;
            @include media(480px) {
                & {
                    padding: 15px;
                }
            }
            @extend %markdownStyle;

            pre {
                margin: 24px -30px;
                background-color: #555;
                box-sizing: content-box;
                color: #f9f9f9;
                padding: 12px 30px;
                font-size: 14px;
                overflow-x: auto;
                box-shadow: 0 0 5px #222 inset;
                line-height: 1.5;
                @include media(480px) {
                    & {
                        font-size: 13px;
                        line-height: 1.4;
                        margin: 24px -15px;
                        padding: 12px 15px;
                    }
                }

                code {
                    border-radius: 0;
                    font-size: inherit;
                    margin: 0;
                    padding: 0;
                    font-family: $font-code;
                }
            }
        }
    }
    // 评论
    .comment-container {
        .title {
            text-align: center;
            background-color: $theme-color;
            padding: 10px 0;
            margin: 0;
            color: #fff;
            font-size: 16px;
        }

        .replies-list {
            padding: 20px 16px;
            @include media(480px) {
                & {
                    padding: 5px 8px 5px 0;
                }
            }
        }
        // 评论项
        .replies-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            padding: 10px 10px 10px 0;
            line-height: 1.4;
            background-color: #fff;
            @include media(480px) {
                & {
                    padding: 5px 10px 5px 0;
                }
            }

            blockquote {
                p {
                    margin: 0;
                }
            }

            pre {
                overflow-x: auto;
                width: 98%;
                box-sizing: border-box;
                background-color: #555;
                color: #fff;
                padding: 12px;
                margin: 12px auto;
                box-shadow: 0 0 5px #222 inset;

                > code {
                    font-family: $font-code;
                    font-size: 13px;
                }
            }

            &:hover {
                background-color: rgba(1, 1, 1, 0.07);
            }
        }

        .name {
            color: #444;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;

            > .time {
                font-size: 12px;
                color: #888;
                font-weight: normal;
                float: right;
            }
        }

        .avatar {
            align-self: flex-start;
            display: block;
            margin: 5px 10px;
            width: 42px;
            height: 42px;
            border-radius: 100%;
            box-shadow: 0 2px 3px #ccc;
            background-color: #fff;
        }

        .content-view {
            flex: 1;
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .content {
            font-size: 14px;
            color: #777;
            overflow: hidden;
            @extend %markdownStyle;

            img {
                display: inline;
            }

            a {
                border-bottom: none !important;
            }

            p {
                margin: 12px 0 0;
            }
        }
    }
}
