.editor-container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    .editor {
        outline: none;
        font-family: $font-code;
        font-size: $font-size;

        .CodeMirror-wrap,
        .editor-statusbar,
        .editor-toolbar {
            border-radius: 0;
        }

        .CodeMirror {
            min-height: 300px;
        }

        .CodeMirror-scroll {
            min-height: 300px;
        }

        @include media(480px) {
            & {
                .CodeMirror {
                    min-height: 150px;
                }

                .CodeMirror-scroll {
                    min-height: 150px;
                }
            }
        }

        .editor-statusbar {
            border-bottom: 1px solid #ddd;
        }
    }
}
