.fixed-buttons-container {
    position: fixed;
    right: 30px;
    top: calc(100% - 180px);
    background-color: transparent;
    @include media(480px) {
        & {
            right: 12px;
            top: calc(100% - 150px);
        }
    }

    button {
        display: block;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 0;
        transition: all .3s ease;
        box-shadow: 0 2px 3px #ddd;
        margin: 10px 0;

        i {
            font-size: 22px;
        }

        .top {
            font-size: 32px;
        }

        &:hover {
            background-color: darken($theme-color, 15%);
        }
    }
}