.home-container {
    min-height: 500px;

    .header-container {
        height: 360px;
        display: flex;

        .header {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            background-color: rgba(1, 1, 1, 0.35);
            text-align: center;

            img.logo {
                max-width: 240px;
            }

            .title {
                text-align: center;
                color: #f6f6f6;
                font-size: 36px;
            }
        }
    }

    .body {
        transform: translateY(-100px);
        width: 100%;
        max-width: $home-body-max-width;
        min-width: $home-body-min-width;
        min-height: $home-body-min-height;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 0 10px 20px rgba(1, 1, 1, 0.18);
        z-index: 2;
        border-radius: 2px;
        padding: 0 0 20px;
        @include media(480px) {
            & {
                box-shadow: none;
            }
        }
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        cursor: default;
        background-color: #fff;
        align-items: center;

        & > div {
            flex: 1;
            text-align: center;
            padding: 16px 0;
            @include media(480px) {
                & {
                    padding: 12px 0;
                }
            }

            &:hover {
                background-color: rgba(1, 1, 1, 0.07);
            }
        }

        .active {
            background-color: rgba(1, 1, 1, 0.07);
        }

        .tag-icon {
            font-size: 20px;
            color: #555;
            position: relative;
            top: 4px;
            right: 4px;
        }
    }

    .next-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px 20px 0;
        @include media(480px) {
            & {
                justify-content: center;
            }
        }

        > button {
            padding: 6px 16px;
            font-size: 13px;
            line-height: 1.2;
            text-align: center;
            vertical-align: center;
            transition: all .3s ease;
            margin: 0 15px;

            &:hover {
                background-color: darken($theme-color, 3%);
                box-shadow: 0 5px 8px darken($theme-color, 10%);
            }
        }
    }

    .list-container {
        margin: 0 auto;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        .list-item {
            display: flex;
            margin: 5px 0;
            transition: all .2s ease;

            &:hover {
                cursor: pointer;
                background-color: rgba(1, 1, 1, 0.07);
            }

            .author {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 110px;
                align-self: flex-start;
                @include media(480px) {
                    & {
                        width: auto;
                    }
                }

                .avatar {
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    margin: 10px;
                    box-shadow: 0 2px 4px 1px rgba(1, 1, 1, 0.15);
                    @include media(480px) {
                        & {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }

                .name {
                    color: #aaa;
                    font-size: 12px;
                    @include media(480px) {
                        & {
                            display: none;
                        }
                    }
                }
            }

            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 12px 0;

                .title {
                    font-size: 15px;
                    color: #232323;
                    padding-right: 15px;
                    transition: color .2s ease;
                    word-wrap: break-word;
                    @include media(480px) {
                        & {
                            font-size: 14px;
                        }
                    }

                    &:hover {
                        color: #f44;
                    }
                }

                .time {
                    color: #aaa;
                    font-size: 12px;
                    padding: 3px 0;

                    > span {
                        display: none;
                    }
                    @include media(480px) {
                        & > span {
                            display: inline;
                        }
                    }
                }
            }

            .news {
                // width: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                @include media(480px) {
                    & {
                        display: none;
                    }
                }

                .reply,
                .visit {
                    margin: 5px;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 14px;
                    box-shadow: 0 1px 2px #ddd;
                    border-radius: 45px;

                    &:hover {
                        background-color: #fff;

                        span {
                            color: #222;
                        }
                    }

                    span {
                        color: #999;
                    }

                    span.text {
                        color: #999;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
