.list-container {
    margin: 0 auto;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .list-item {
        display: flex;
        margin: 5px 0;
        transition: all .2s ease;

        &:hover {
            cursor: pointer;
            background-color: rgba(1, 1, 1, 0.07);
        }

        .author {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 110px;
            @include media(480px) {
                & {
                    width: auto;
                }
            }

            .avatar {
                width: 55px;
                height: 55px;
                border-radius: 100%;
                margin: 8px;
                box-shadow: 0 2px 4px 1px rgba(1, 1, 1, 0.15);
                @include media(480px) {
                    & {
                        width: 45px;
                        height: 45px;
                    }
                }
            }

            .name {
                color: #aaa;
                font-size: 12px;
                @include media(480px) {
                    & {
                        display: none;
                    }
                }
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 12px 0;

            .title {
                font-size: 15px;
                color: #232323;
                padding-right: 15px;
                transition: color .2s ease;
                word-wrap: break-word;
                @include media(480px) {
                    & {
                        font-size: 14px;
                    }
                }

                &:hover {
                    color: #f44;
                }
            }

            .time {
                color: #aaa;
                font-size: 12px;
                padding: 3px 0;

                > span {
                    display: none;
                }

                @include media(480px) {
                    & > span {
                        display: inline;
                    }
                }
            }
        }

        .news {
            // width: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include media(480px) {
                & {
                    display: none;
                }
            }

            .reply,
            .visit {
                margin: 5px;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 14px;
                box-shadow: 0 1px 2px #ddd;
                border-radius: 45px;

                &:hover {
                    background-color: #fff;

                    span {
                        color: #222;
                    }
                }

                span {
                    color: #999;
                }

                span.text {
                    color: #999;
                    font-size: 13px;
                }
            }
        }
    }
}