%markdownStyle {
    * {
        word-break: break-all;
    }

    p > code {
        word-break: break-word;
    }

    hr {
        color: #ccc;
        background-color: #ccc;
    }

    img {
        display: block;
        text-align: center;
        max-width: 100%;
        border-radius: 2px;
        box-shadow: 2px 3px 2px #ddd;
        margin: 5px 0;
    }

    li,
    p {
        max-width: 100%;

        a {
            color: $accentColor;
            border-bottom: 1px dotted lighten($accentColor, 20%);
            word-break: break-all;
            margin-left: 2px;
            margin-right: 2px;

            &:active,
            &:hover {
                text-decoration: none;
                border-bottom-style: solid;
                opacity: .7;
            }
        }
    }

    strong {
        font-weight: 600;

        a {
            border-color: $accentColor;
        }
    }

    em {
        padding-left: 4px;
        padding-right: 7px;
    }

    h1 {
        // font-size: 24px;
        font-size: $font-size + 9px;
    }

    h2 {
        // font-size: 22px;
        font-size: $font-size + 7px;
    }

    h3 {
        // font-size: 20px;
        font-size: $font-size + 5px;
    }

    h4 {
        // font-size: 18px;
        font-size: $font-size + 3px;
    }

    h5 {
        // font-size: 16px;
        font-size: $font-size + 1px;
    }

    h6 {
        // font-size: 14px;
        font-size: $font-size - 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #444;
        cursor: pointer;
        border-bottom: 1px dotted rgba(1, 1, 1, 0);

        &:hover {
            border-bottom: 1px dotted rgba(1, 1, 1, 0.4);
        }
    }

    table {
        max-width: 100%;
        border: 1px solid #dedede;
        margin: 15px 0;
        border-collapse: collapse;
        font-family: $font-code;

        td,
        tr {
            height: 35px;

            code {
                color: orangered;
            }
        }

        thead {
            tr {
                background: #f8f8f8;
            }
        }

        tbody {
            tr:hover {
                background: #efefef;
            }
        }

        td,
        th {
            min-width: 80px;
            font-size: 95%;
            border-bottom: 1px solid #dfdfdf;
            padding: 8px;
            word-wrap: break-word;
        }
    }

    blockquote p:first-child,
    blockquote:first-child,
    figure:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    ol:first-child,
    p:first-child,
    pre:first-child,
    table:first-child,
    ul:first-child {
        margin-top: 0;
    }

    ol,
    ul {
        line-height: 26px;
        font-family: $font-code;
    }

    ul li {
        margin: 3px 0;
    }

    audio,
    video {
        max-width: 100%;
    }

    blockquote {
        position: relative;
        padding: 8px 16px;
        margin-left: 4px;
        margin-right: 4px;
        border-left: 4px solid lighten(#888, 15%);
        color: lighten(#737373, 10%);
        // background: @codeBg;
        font-size: 95%;
        border-radius: 0 2px 2px 0;
        font-family: $font-code;

        p {
            margin: 0;
        }

        pre {
            margin: 24px 0;
        }
    }

    li code,
    p code {
        position: relative;
        top: -1px;
        color: #38f;
        line-height: 1;
        margin: 0 4px;
        font-size: 92%;
        padding: 2px 4px 1px 4px;
        border: 1px solid #eee;
        border-radius: 2px;
        word-wrap: break-word;
        // font-weight: bold !important;
    }

    pre {
        color: #fff;
        background-color: #555;
        font-size: 14px;
        padding: 16px;
        width: 100%;
        margin: 16px auto;
    }
}
